html, body  {
    height: 100%;
}

body    {
    display: grid;
    grid-template-rows: 10% 5% auto 10%;
    background-color: #393E46;
    margin: 0;
}

body *  {
    font-family: 'Roboto Slab';
    font-size: 28px;
    color: #FCDA05;
}

header, footer  {
    background-color: #FCDA05;
}

#pokedex-logo   {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#logo-universidad   {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

nav {
    background-color: #222831;
}

#home-icon  {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#main-container {
    margin: auto;
}

#kanto-starters {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 1000px){
    #kanto-starters {
        height: 60%;
        width: 60%;
    }
}

#form-wrapper * {
    text-align: center;
}

#pokemon-search-input   {
    width: 500px;
    height: 50px;
    color: black;
}

#search-button  {
    display: block;
    margin: auto;
    background-color: #FCDA05;
    color: #222831;
    margin-top: 15px;
    margin-bottom: 15px;
}

#result-container   {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#result-container *  {
    align-self: center;
}

@media only screen and (min-width: 1000px){
    #result-container   {
        margin: 10px;
        display: flex;
        flex-flow: row nowrap;
    }

    #poke-name  {
        text-align: center;
        margin: 0;
    }

    #official-art   {
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 1000px){
    label, button   {
        font-size: 60px;
    }
}

.info   {
    width: 100%;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    background-color: #FFFBE0;
    border: 2px solid #222831;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 16px;
}

table   {
    width: 100%;
    border-spacing: 0;
}

tr, th, td   {
    margin: 0;
    border-top: 2px solid #222831;
    text-align: center;
    padding: 5px;
    color: #222831;
}

caption {
    color: #222831;
}

#poke-name  {
    text-align: center;
    font-size: 40px;
}




